<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iptracer.Properties.Settings.ipDbApiKey" connectionString="92aa0c0594f87f732aef2613150158b8580d088a10ae1890709cdd2c33dc5b6a" />
        <add name="iptracer.Properties.Settings.googleApiKey" connectionString="AIzaSyDxaCkfDHxEP2kvmCsEcncbQOmK3mxrtc4" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>